streamlit>=1.20
openai>=0.27.0
google-search-results>=2.1.0
PyDrive2>=1.11.1
google-api-python-client>=2.93.0
google-auth>=2.20.0
chromadb>=0.4.3
duckdb>=0.8.1  # for DuckDB+Parquet storage
beautifulsoup4>=4.12.2
PyPDF2>=3.0.0
requests>=2.31.0
protobuf<=3.20.3  # avoid descriptor errors

# Environment Variable
# CHROMA_DB_IMPL=duckdb+parquet
